<% wrap_layout :layout do %>
<h1 class="content-subhead"><%= current_page.data.date %></h1>

  <section class="post">
    <header class="post-header">
      <h2 class="post-title"><%= current_page.data.title %></h2>

      <p class="post-meta">
      </p>
    </header>

    <div class="post-description">
      <p>
        <%= yield %>
      </p>
    </div>
  </section>

  <%= partial 'juvia_thread' %>

<% end %>
