<% wrap_layout :layout do %>
<h1 class="content-subhead"><%= current_page.data.date %></h1>

  <section class="post">
    <header class="post-header">
      <h2 class="post-title"><%= current_page.data.title %></h2>

      <p class="post-meta">
      </p>
    </header>

    <div class="post-description">
      <p>
        <%= yield %>
      </p>
    </div>
  </section>

  <section>
    <h2 class="content-subhead">Commentaires</h2>
      <div id="juvia_thread" aria-live="polite"><noscript>Please enable JavaScript to view the comments powered by Juvia.</noscript>
    </div>
  </section>

<% end %>
