= wrap_layout :layout do
  h1.content-subhead= current_page.data.date

  section.post
    header.post-header
      h2.post-title= current_page.data.title
      p.post-meta
    div.post-description
      p == yield

  /== partial 'juvia_thread'
