---
title: Confection des macarons 1/x
date: 2013-09-16 13:24 CEST
tags: patisserie
---
Comme le souligne si justement [Virginie](https://twitter.com/le_bric_a_brac/status/378512686793129985), ce blog manque cruellement de sucre ! Alors pour inaugurer cette nouvelle catégorie, je vais poster en plusieurs billets (d'où le 1/x dans le titre) la recette ainsi que les trucs et astuces que j'utilise pour la confection des macarons.
READMORE

![Macarons](/blog/2013/confection-des-macarons-1-x/macarons.jpg)

Bon, j'avoue que le titre est faussement aguicheur puisque pour commencer, je vais parler un peu du matériel. Car en patisserie, avoir le bon matériel se relève vite indispensable sous peine de devoir faire avec les moyens du bord, faire mal, et être déçu du résultat. J'en veux pour preuve le jour où je suis passé d'une poche à douille en silicone bon marché à des [poches jetables](#poches_jetables) avec de vraies douilles, quel changement ! Plus de précision, plus de résistance à la pression, des coupes et des décors bien net et rapidement. Rien à voir.

Donc, pour en revenir aux macarons, voici une petite liste du matériel que je préconise :

## poches à douille jetables avec douille
![Poche jetable](/blog/2013/confection-des-macarons-1-x/poche-jetable.jpg)
![Douille 8mm](/blog/2013/confection-des-macarons-1-x/douille8.jpg)


Avec une douille de 8mm lisse pour coucher la pate et la couper bien net. Ce combo vous servira pour tout appareil à former :

- macarons
- choux
- meringues

Oubliez les trucs du genre utiliser le coin d'un sac congélation, ça fouarre tout le temps.

## une maryse
![Maryse](/blog/2013/confection-des-macarons-1-x/maryse.jpg)


Elle vous sera très pratique pour mélanger toute pâte comme un chef et bien racler le fond des récipients. Faites attention, certaines maryses ne supportent pas les fortes chaleurs, j'en ai fondu une, et raté la préparation d'un caramel comme cela.


## une plaque à patisserie
![Plaque de cuisson](/blog/2013/confection-des-macarons-1-x/plaque.jpg)


Bien plus rigide, droite et au fond plus pratique que la lèche-frite du four, elle se pose sur la grille du four et repartit mieux la chaleur.


## un robot patissier
Même s'il n'est pas indispensable, le fait d'avoir les mains libres est tout de même bien pratique, sans parler de certains cas ou il faut battre une préparation longtemps (meringue italienne ou génoise).

J'arrête là pour le moment sinon je vais en faire des tartines et y passer la nuit. La prochaine fois, on parlera des ingrédients.

### Notes
<a name="poches_jetables"></a>
Alors oui, on peut objecter l'aspect jetable des poches qui ne serait pas écolo, mais franchement, lorqu'on doit changer 3 ou 4 fois la poche lors d'une session patisserie, comparé à l'aisance et au résultat obtenu avec les poches jetables, mon choix est vite fait. D'autant plus que je ne suis pas sur que le prix (et surtout l'aisance) d'une poche jetable vaille les 20 à 30 litres d'eau nécessaires pour nettoyer une poche recyclable. Mais bon, si vous souhaitez en discuter, il y a les commentaires ci-dessous. ;-)
