section
  h2.content-subhead Commentaires
  markdown:
    Ok, les commentaires ont été désactivés dans la mesure où ce blog est intégralement généré de manière statique, hébergé sur Github, que je ne souhaite pas utiliser un service externe *à-la-disqus*, et actuellement pas les moyens de proposer ce genre de service. Mais ça ne veut pas dire que vos retours ne m'intéressent pas, ni que les commentaires ne feront pas leur retour un jour ou l'autre !

    Contactez-moi sur les réseaux sociaux identifiés ci-dessous, et si vous vous en sentez capable, *forkez* [mon blog sur Github](http://github.com/bobmaerten/bobmaerten.fr), corrigez les erreurs et envoyez un *pull request*. Et merci pour la lecture.
